*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html{
    font-size: 10px;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Green:  hsl(75, 94%, 57%);
  /* --Green:  hsl(133, 94%, 57%); */
  --Grey-700:  hsl(0, 0%, 20%);
  --Grey-800:  hsl(0, 0%, 12%);
  --Grey-900:  hsl(0, 0%, 8%);
}
body{
    background-color: var(--Grey-900);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}
.profile-con{
    background-color: var(--Grey-800);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5rem 0rem;
    width: 100%;
    color: white;
    border-radius: 1.3rem;
    padding: 2rem 2.7rem;
}
.profile-pic{
    height: 80px;
    width: 80px;
    margin-bottom: 1.5rem;
}
.profile-pic img{
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.profile-con h1{
    font-size: 2rem;
    padding-bottom: .5rem;
    font-weight: 600;
}
.location{
    font-size: 1rem;
    color: var(--Green);
    font-weight: 400;
    
}
.bio{
    font-weight: 400;
    padding: 1.7rem 0;
}
.links-con{
   display: flex;
   flex-direction: column; 
    width: 100%;
}
.link{
    margin: .6rem 0;
    background-color: var(--Grey-700);
    padding: 1.2rem 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    border-radius: .8rem;
}
.link:hover , .link:focus{
    background-color: var(--Green);
    color: var(--Grey-900);
    transition: .5s ease-in-out;
}
@media (min-width:768px) {
    .profile-con{
        width: 50%;
    }
}
@media(min-width:1100px){
    .profile-con {
        width: 25%;
    }
}
